[Unit]
Description=Uploads images to storage server

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cd /home/pi/Sky-Imager-Aggregator/src && python3 StorageController.py'
User=pi
Group=pi
