[Unit]
Description=Fetches images from camera, preprocesses and torage in raspberry

[Service]
ExecStart=/bin/sh -c 'cd /home/pi/Sky-Imager-Aggregator/src && python3 SkyImagerV1auto.py'
User=pi
Group=pi
Restart=always

[Install]
WantedBy=multi-user.target
